*.png
__pycache__/
batch_output/
cache/
local/
log/
.idea/
results/
util/crypto/datasets
venv/
.idea/
.ipynb/
.ipynb_checkpoints/
.vscode/
abides-acc.wiki
.env
.gradio
paper
.DS_Store

playground
docs/source
docs/make.bat
docs/Makefile
docs/build/doctrees

rubbish
old
.pytest_cache
result
*/**/*.bgz
*/**/*.bz2
data/ohlc
data/tmp
data/task
mlruns